{% load static %}

<!doctype html>
<html lang="ko-kr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title%}{% endblock %}</title>
  <!-- Css static-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% block link %} {% endblock %}">

</head>

<body>
  <div class="wrapper">
    <!--navbar -->
    <header>
      <div class="nav">

        <a class="logo" href="{%url 'index'%}" style="font-family: netmarbleB;">
          <img src="{% static 'img/logo.png' %}" width="30" height="30" alt="logo"></a>

        <ul id="nav-right">

          <li><a class="link" href="{% url 'shopping' 1 %}">쇼핑</a></li>
          {% if user.is_authenticated %}
          <li><a class="link" href="{% url 'cart' %}">주문내역</li>
          <li><a class="link" href="{% url 'mypage' %}"><img class="user" src="{% static 'img/user.svg' %}" width="30"
                height="30" alt="profile">&nbsp;{{user.username}}님</a></li>
          <li><a class="link" href="{% url 'logout' %}">로그아웃</a></li>
          </li>
          {% else %}

          <li><a class="link" href="{% url 'signup' %}">회원가입</a></li>
          <li><a class="link" href="{% url 'login' %}">로그인</a></li>

          {% endif %}

        </ul>
      </div>
    </header>

    {% block content %}
    {% endblock %}
  </div>
</body>

</html>