{% extends 'base.html' %}
{% load static %}
{% block title %}구매내역{% endblock title %}
{% block link %}{% static 'css/cart.css' %}{% endblock %}

{% block content %}
<form action="{% url 'delete_cart' user.pk %}" method="POST">
    <div class="order-list">
        <table>
            <thead>
                <tr>
                    <th class="image">
                        상품
                    </th>
                    <th class="quantity">
                        수량
                    </th>
                    <th class="price">
                        주문금액
                    </th>
                    <th class="date">
                        구매일자
                    </th>
                    <th class="thumb">
                        내역선택
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- 리스트 안에 담겨서 나오기 때문에 for 문을 써서 출력 -->
                {% if totalSum == 0 %}
                <tr>
                    <td class="nothing" colspan="5"><br>구매 내역이 없대요!<br><br></td>
                </tr>
                {% else %}
                {% for product in cart %}
                <tr>
                    <td class="img">
                        <img src="{{ product.products.image.url }}" class="table-img" alt="product_Image">
                        <br>{{ product.products.name }}
                    </td>

                    <td class="quantity">
                        {{ product.quantity }}

                    </td>
                    <td>
                        <!-- {% widthratio product.products.price 1 product.quantity %} -->
                        {{ product.products.price }} 원
                    </td>
                    <td>
                        {{ product.pub_date|date:"Y-m-d" }}
                    </td>
                    <td>
                        <input type="radio" id="product_{{ product.id }}" name="product"
                            value="{{ product.products.id }}">
                    </td>
                </tr>

                {% endfor %}
                {% endif %}
            </tbody>
        </table>

    </div>
    <br>
    <p class="price">전체 금액:{{cart.totalAmount}} 원</p>
    <br>
        
        {% if cart.quantity == 0 %}
        <button class="button_base mybtn" type="submit" onClick="alertConfirm()"> 선택내역 삭제 </button>
        {%else%}
        <button class="button_base mybtn" type="submit" name="delete_cart" value="delete_cart" onClick="alertDelete()">
            선택내역 삭제 </button>
        {% endif %}
    
    {% csrf_token %}

    </div>
</form>


</div>


<script>
    function alertConfirm() {
        var alertToVisiter = alert('삭제할 항목을 선택해주세요.');
        event.preventDefault();
    }

    function alertDelete() {
        var alertToVisiter = alert('삭제되었습니다.');
        frm.method = "POST";
        frm.submit();
    }
</script>


<footer>
    <div class="footer">
        Copyright ⓒ 멋쟁이사자처럼 8기 팀 2DX2. All Rights Reserved.
    </div>
</footer>

{% endblock content %}