<h1>Hello 2DX2</h1>

{% for product in products.all %}
    <img src="{{ product.image.url }}">
    <h4> {{product.name}} </h4>
{% endfor %}

<body>
        {% if user.is_authenticated %}
            <li class="nav-item">
              <p>{{user.username}}</p>
              <form action="logout/" method="POST">
                {% csrf_token %}
              <input type="submit" value="Log out">
              </form>
            </li>

            <a href="{% url 'cart' user.pk %}">주문내역</a>
          {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'signup' %}">회원가입</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">로그인</a>
            </li>
            
          {% endif %}
    
</body>