{% extends 'base.html' %}
{% load static %}
{% block title %}Main{% endblock %}

{% block link %}{% static 'css/index.css' %}{% endblock %}

{% block content %}

  {% for product in products.all %}
      <img src="{{ product.image.url }}">
      <h4> {{product.name}} </h4>
  {% endfor %}

    <div class="btn">
    {% if user.is_authenticated %}
    <button type="submit"><a href="{% url 'shopping' 1 %}">쇼핑하러가기</a></button>
    <button type="submit"><a href="{% url 'mypage' user.pk %}">마이페이지</a></button>

    {% else %}

    <button type="submit"><a href="{% url 'shopping' 1 %}">상품보러가기</a></button>
    <button type="submit"><a href="{% url 'login' %}">마이페이지</a></button>
    {% endif %}
    </div>

{% endblock content %}