{% extends 'base.html' %}
{% load static %}
{% block title %}마이페이지{% endblock title %}

{% block link %}{% static 'css/mypage.css' %}{% endblock %}

{% block content %}

<div class="youare">
    <img src="{% static 'img/sample.jpg' %}" width="40%" height="40%" alt="image">
</div>

<p class="title">당신의 유형은 "{{ title }}"</p>

<br>

{% for key, value in countProduct.items %}
{{ key }}
{{ value }}
{% endfor %}



<br>
<div class="button">
    <button type="submit"><a href="{% url 'cart' user.pk %}">구매내역</a></button>
    <br>

    <p class="body">{{ title }}들을 위한 랜덤박스가 준비되어 있어요!</p>
    <div class="youare">
        <img src="{% static 'img/sample.jpg' %}" width="40%" height="40%" alt="image">
    </div>
    <!-- 팝업 버튼-->
    <button type="submit" onclick="alertConfirm()">랜덤박스 신청하기</button>


    <!-- html 제일 하단에 넣어주세요-->
    <script>
        function alertConfirm() {
            var alertToVisiter = alert('신청되었습니다.');
            event.preventDefault();
        }
    </script>
</div>

{% endblock content %}