<!-- base.html 가져오기-->

{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}

{% block link %}{% static 'css/shopping.css' %}{% endblock %}


{% block content %}

<body>
    <br>
    <div class="all_products">
    <ul>
        <li><a class="active" href="#">{{category}}</a></li>
        {% for categories in categories %}
        {% if category == categories %}
        <li style="background-color: red;"><a href="{% url 'shopping' categories.id %}">{{categories}}</a></li>
        {% else %}
        <li><a href="{% url 'shopping' categories.id %}">{{categories}}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    <br>


    <!-- 상품 내역 -->

    <div class = "product-container">
    {% for post in posts %}
    <div class="product-card" >
        <!-- image-->
        
        {% if post.image %}
        <img src="{{ post.image.url }}" width="250px;" height="250px;">
        {% endif %}
        
        <br>
        <h4>{{  post.name  }}</h4>
        <h6> {{  post.price  }}원</h6>

     


    </div>
    {% endfor %}
</div>


    <!-- pagenation nav -->
    <div class="container">
        {# first Previous #}
        {% if posts.has_previous %}
        <button type="button" class="btn btn-light"><a href="?page=1"> First </a></button>
        <button type="button" class="btn btn-light"><a href="?page={{posts.previous_page_number}}">Previous
            </a></button>
        {% endif %}
        {# 3 of 4 #}
        <span>{{posts.number}}</span>
        <span>of</span>
        <span>{{posts.paginator.num_pages}}</span>
        {# Next Last #}
        {% if posts.has_next %}
        <button type="button" class="btn btn-light"><a href="?page={{posts.next_page_number}}"> Next </a></button>
        <button type="button" class="btn btn-light"><a href="?page={{posts.paginator.num_pages}}">Last</a></button>
        {% endif %}
        <br>
        <br>

    </div>


    
</div>

</body>

{% endblock content %}

