body {
    text-align: center;
}

.title{
    font-size: 2rem;
    margin-top: 350px;
}

.index {
    padding-left: 0;
}

.index li {
    list-style: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: rgb(218, 41, 28);
    margin-right: 50px;
    font-size: 1rem;
}

.index li:last-child {
    margin-right: 0px;
}