.all_products {
    margin-top: 35px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
}

ul:after {
    content: '';
    display: block;
    clear: both;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ffffff;
}

.active {
    background-color:#c93b2b;
}

.product-card{
    
    margin-left: 20px;
    width : 300px;
    height : 400px;
    border : 1px solid black;
    display : flex;
    flex-direction : column;
    align-items : center;
    margin-bottom : 30px;
    margin-top : 30px;
    border-radius : 25px;
    display : inline-flex;
}

.product-container{
    margin-left: 18px;
    align-items: center;
}

/* .buyBtn {
    display: inherit;
    /* margin-top: -50px; 
} */